<div class="success-content">
	<div class="halfwidth center">
		<h3>Yay! Report Submitted successfully! <br/>Success Hounds Approve!</h3>
	</div>
	<div class="img-container">
		<img src="/assets/imgs/successhounds.jpg" />
	</div>
</div>