<div class="col-sm-12" id="imagesContent">
	<div class="img-gallery row"></div>
	<div class="row">
		<div class="center sminput mt">
			<button id="uploadFile" class="btn btn-primary upload-btn mt" type="button">Upload Image</button>
		</div>
		<input id="upload-input" class="form-control" data-required="true" data-type="filepath" type="file" name="imgFile" accept="image/*" />
	</div>
</div>