<div class="main-content">
	<div class="img-sm-container row">
		<img src="/assets/imgs/duo.jpg" />
	</div>
	<div class="form-wrapper row">
		<form class="form-horizontal" id="info" role="form" method="post" action="/resource/submit-report">
				<div class="form-group">
					<div class="col-sm-6">
					<label><i class="glyphicon glyphicon-tags"></i> <b>Which Doggo</b></label>
						<select class="form-control js-which-doggo" name="doggo">
							<option>Echo</option>
							<option>Grady</option>
						</select>
					</div>
				</div>
				<div class="form-group js-doggo-medicine">
					<div class="col-sm-6">
						<label class="control-label"><i class="glyphicon glyphicon-plus"></i> <b>Medicine</b></label>
						<select class="form-control" name="medicine_amt">
							<option>1/4</option>
							<option>1/2</option>
							<option>3/4</option>
							<option>1</option>
						</select>
					</div>
					<div class="col-sm-6">
						<label class="control-label"><i class="glyphicon glyphicon-time"></i> <b>Medicine Time</b></label>
						<select class="form-control " name="medicine_time">
							<option>AM</option>
							<option>PM</option>
							<option>AM &amp; PM</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<label class="control-label"><i class="glyphicon glyphicon-tint"></i> <b>Food</b></label>
						<select class="form-control " name="food_amt">
							<option>1 c.</option>
							<option>1 1/4th c.</option>
							<option>1 1/2 c.</option>
							<option>1 3/4th c.</option>
						</select>
						</div>
						<div class="col-sm-6">
						<label class="control-label"><i class="glyphicon glyphicon-time"></i> <b>Food Time</b></label>
						<select class="form-control " name="food_time">
							<option>AM</option>
							<option>PM</option>
							<option>AM &amp; PM</option>
						</select>
						</div>
				</div>
				<div class="form-group">
					<label class="control-label"><i class="glyphicon glyphicon-tree-deciduous"></i> <b>Activity Notes</b></label>
					<input class="form-control " type="text" name="activity_notes">
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<label class="control-label"><i class="glyphicon glyphicon-time"></i> <b>Hours</b></label>
						<input class="form-control" type="text" name="activity_hours" placeholder="0" value="0">
					</div>
					<div class="col-sm-6">
						<label class="control-label"><i class="glyphicon glyphicon-time"></i> <b>Minutes</b></label>
						<input class="form-control" type="text" name="activity_minutes" placeholder="0" value="0">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label"><i class="glyphicon glyphicon-briefcase"></i> <b>Behaviour Notes</b></label>
					<input class="form-control" type="text" name="behaviour_notes">
				</div>
				<div class="form-group">
					<input class="form-control" type="submit">
				</div>
			</form>
		</div>
</div>
