<div class="navigation row">
	<ul class="js-main nav nav-pills">

		<li role="presentation" {{#if form_active}}class="active"{{/if}}><a href="/"><strong>Report Form</strong></a></li>
		<li role="presentation" {{#if r_active}}class="active"{{/if}}><a href="/reports"><strong>Reports</strong></a></li>
		<li role="presentation" {{#if i_active}}class="active"{{/if}}><a href="/images"><strong>Images</strong></a></li>
		<li role="presentation" {{#if v_active}}class="active"{{/if}}><a href="/videos"><strong>Videos</strong></a></li>
		<li role="presentation" {{#if soon_active}}class="active"{{/if}}><a href="/coming-soon"><strong>Change Log</strong></a></li>

	</ul>
	<ul class="js-responsive nav nav-pills hidden">

		<li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			<strong><i class="glyphicon glyphicon-th-list"></i><span class="caret"></span></strong></a>
			<ul class="dropdown-menu">
				<li role="presentation" {{#if r_active}}class="active"{{/if}}><a href="/"><strong>Report Form</strong></a></li>
				<li role="presentation" {{#if r_active}}class="active"{{/if}}><a href="/reports"><strong>Reports</strong></a></li>
				<li role="presentation" {{#if i_active}}class="active"{{/if}}><a href="/images"><strong>Images</strong></a></li>
				<li role="presentation" {{#if v_active}}class="active"{{/if}}><a href="/videos"><strong>Videos</strong></a></li>
				<li role="presentation" {{#if soon_active}}class="active"{{/if}}><a href="/coming-soon"><strong>Change Log</strong></a></li>
			</ul>
		</li>
	</ul>
</div>
