<div class="main-gallery col-sm-12">
{{#unless data}}
	<h2 class="text-center">No Items are currently available at this time.</h2>
	{{else}}
	<ul class="first">
		{{#each data}}
		<li>
			<img src="{{this.path}}" alt="{{this.filename}}">
		</li>
		{{/each}}
	</ul>
{{/unless}}
</div>