<div class="reports-content">
	<button class="js-load-activity-chart btn btn-primary mb">Show Activity Chart</button>
	<canvas id="mainChart" width="400" height="400"></canvas>
	<div id="doggoTable">
		<table id="reportsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Date</th>
					<th>Name</th>
					<th>Food</th>
					<th>Medicine</th>
					<th>Activity Notes</th>
					<th>Behaviour Notes</th>
				</tr>
			</thead>
		</table>
	</div>
</div>