$color_fern_approx: #5cb85c;
$color_goblin_approx: #3d8b3d;
$color_chestnut_rose_approx: #d9534f;
$color_tall_poppy_approx: #b52b27;
$color_casablanca_approx: #f0ad4e;
$color_golden_bell_approx: #df8a13;
$color_log_cabin_approx: #222;
$color_boulder_approx: #797979;
$color_puerto_rico_approx: #48cfad;
$color_bon_jour_approx: #e1e1e1;
$color_wild_willow_approx: #a0d468;
$color_nevada_approx: #656d78;
$color_golden_tainoi_approx: #ffce54;
$color_shark_approx: #242424;
$mercury: #e5e5e5;
$color_tapa_approx: #777;
$concrete: #f2f2f2;
$black: #000;
$black_10: rgba(0,0,0,0.1);
$white: #fff;
$white_20: rgba(255,255,255,0.2);
$white_80: rgba(255, 255, 255, .8);
$color_main_accent: #627BA8;
$color_mountain_mist_approx: #999;
$color_periwinkle_gray_approx: #c8cfe6;
$white_30: rgba(255,255,255,0.3);
$color_section_breadcrumb: rgba(34, 34, 34, .8);
$color_astral_approx: #3085a3;
$color_lochmara_approx: #0e83cd;
$color_tamarillo_80_approx: rgba(143,27,15,0.8);

//fonts
$font_0: Lato;
$font_1: sans-serif;
$font_2: icomoon;