<!DOCTYPE html>
<html>
<head>
	<title>Doggo Reporter v1.0</title>
	<link href="/assets/styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	{{#if page.useDataTables}}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-print-1.2.2/kt-2.1.3/r-2.1.0/se-1.2.0/datatables.min.css"/>
	{{/if}}
	{{#each css.vendor}}
	<link href="/assets/styles/vendor/{{this}}/{{this}}.min.css" rel="stylesheet" />
	{{/each}}
	{{#each css.vendor_noMin}}
	<link href="/assets/styles/vendor/{{this}}/{{this}}.css" rel="stylesheet" />
	{{/each}}
	<link href="/assets/styles/styles.css" rel="stylesheet" />
</head>
<body>
	<main class="container">
		{{> header}}
		{{> nav}}
		{{{content}}}
	</main>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<script src="/assets/scripts/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
	{{#if page.useDataTables}}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-print-1.2.2/kt-2.1.3/r-2.1.0/se-1.2.0/datatables.min.js"></script>
	{{/if}}
	{{#each js.scripts}}
		<script type="text/javascript" src="/assets/scripts/{{this}}.js"></script>
	{{/each}}
	{{#each js.vendor_noMin}}
	<script type="text/javascript" src="/assets/scripts/vendor/{{this}}/{{this}}.js"></script>
	{{/each}}
	{{#each js.vendor}}
	<script type="text/javascript" src="/assets/scripts/vendor/{{this}}/{{this}}.min.js"></script>
	{{/each}}
</body>
</html>