body {
	background-color: #5DA773;
}

canvas {
	background-color: #fff;
}

#imagesContent ul  {
	list-style: none;
}

.coming-soon-content {
	font-weight: bold;
}

h3 {
	text-align: center;
}

/* NAVIGATION STYLES */

.navigation {
	margin-bottom: 10px;
}

.navigation ul {
	margin-top: 10px;
	width: 42%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 980px) {
	.navigation ul li {
		width: 100%;
		text-align: center;
	}
}

.navigation ul li a {
	color: #BBDFC6;
	background-color: #16672E;
}

.navigation ul li a:hover {
	color: #35884E;
	background-color: #8AC49C;
}


/* IMAGE STYLES */
.error-content img {
	max-height: 500px;
	max-width: 500px;
}

.img-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 980px) {
	.img-sm-container {
		width:50% !important;
	}
}
.img-sm-container {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.img-sm-container img,
.img-container img {
	width: 100%;
	height: 100%;
}


/* HEADER STYLES */
.header-item {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}


/* MAIN CONTENT STYLES */
.main-content form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.main-content img {
	margin-bottom: 10px;
}

.reports-content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/* TABLE STYLES */
th {
	background-color: #7899A2;
	padding-left: 5px;
	padding-right: 5px;
}

tr td {
	background-color: #AEC0C5;
	padding-left: 5px;
	padding-right: 5px;
}

th:nth-of-type(1) {
	width: 20%;
}

th:nth-of-type(2) {
	width: 10%;
}

th:nth-of-type(3) {
	width: 15%;
}

th:nth-of-type(5) {
	width: 30%;
}

th:last-of-type {
	width: 50%
}

/* IMAGES PAGE */

#upload-input {
	display: none;
}

/* UTILITIES */
.mb {
	margin-bottom: 10px;
}

.mt {
	margin-top: 10px;
}


.text-center {
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.sminput {
	width: 10%;
}

.halfwidth {
	width: 50%;
}

.width-20 {
	width: 20%;
}

.hidden {
	display: none;
}
