<div class="col-sm-12 coming-soon-content">
<h3>Change Log (v0.2.3) 10/4/2016</h3>
	<div class="row">
		<ul class="width-20 center">
			<li>Menu now collapses down for easier cellphone use</li>
			<li>Most pictures will now be more responsive</li>
			<li>Form kind of improved at least it no longer looks like its for ants?</li>
			<li>Fixed jQuery bug when switching doggos</li>
			<li>Fixed chart bug for wrong timezone</li>
			<li>Fixed image bugs in database</li>
		</ul>
	</div>
</div>
